body,
div,
p,
span,
a,
img,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tr,
td,
th {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none; /*系统默认菜单被禁用*/
  -webkit-user-select: none; /*webkit浏览器*/
  -khtml-user-select: none; /*早期浏览器*/
  -moz-user-select: none; /*火狐*/
  -ms-user-select: none; /*IE10*/
  user-select: none;
}
ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  right: 10px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  box-shadow: inset 0 0 5px #e1e3e6;
  background: #e1e3e6;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(231, 229, 229, 0.2);
  border-radius: 3px;
  background: #ededed;
}
input {
  user-select: auto;
  -webkit-user-select: auto; /*webkit浏览器*/
}
textarea {
  user-select: auto;
  -webkit-user-select: auto; /*webkit浏览器*/
}
