// 黑色主题
.dark {
  --theme-color: #fff;
  --theme-bgColor: #36393f;
  --nav-color: #202225;
  --content-color: #2f3136;
  --icon-color: #f2f3f5;
  --icon-select-color: #828cf6;
  --login-bgColor: #2f3136;
  --select-userColor:hsla(217,calc(var(--saturation-factor, 1)*7.6%),33.5%,0.6);
  --size-color:hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
  --search-color:#202225;
  --border-color:#2f3133;
  --title-color:hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
  --user-timeColor:#777;
  --chat-timeColor:#eee;
  --cart-timeColor:#eee;
  --dialog-bgColor:#4c4e53;
  --input-bgColor:#141515;
  --select-inputColor:#fff;
}
// 亮色主题
.light {
  --theme-color: #333;
  --theme-bgColor: #f6f6f7;
  --nav-color: #e3e5e8;
  --content-color: #f2f3f5;
  --icon-color: #2f3136;
  --icon-select-color: #515de2;
  --login-bgColor: #828cf6;
  --select-userColor:#cfcfcf;
  --size-color:#555;
  --search-color:#f9f9f9;
  --border-color:#e8eaec;
  --title-color:#202225;
  --user-timeColor:#777;
  --chat-timeColor:#eee;
  --dialog-bgColor:#fff;
  --input-bgColor:#eceef4;
  --select-inputColor:#fff;
}
